<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aplikacja Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<h1>Przygotuj własne Taco!</h1>
<img th:src="@{/images/TacoCloud.png}" alt="taco logo"/>

<form method="POST" th:object="${design}">
    <div class="grid">
        <div class="ingredient-group" id="wraps">
            <h3>Wybierz rodzaj tortilli:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="ingredient-group" id="proteins">
            <h3>Wybierz rodzaj mięsa:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="ingredient-group" id="veggie">
            <h3>Wybierz warzywo:</h3>
            <div th:each="ingredient : ${veggie}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="ingredient-group" id="cheeses">
            <h3>Wybierz ser:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
            </div>
        </div>
    </div>
    <div class="grid">
        <div class="ingredient-group" id="sauces">
            <h3>Wybierz sos:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"/>
                <span th:text="${ingredient.name}">SKŁADNIK</span>
            </div>
        </div>
    </div>

    <div>
        <h3>Nadaj nazwię przygotowanemu taco:</h3>
        <input type="text" th:field="*{name}"/>
        <span class="validationError" th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Błąd nazwy taco</span>
        <br>
        <button>Wyślij zamówienie</button>

    </div>
</form>

</body>
</html>